.main--title {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

.section--title {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.section--text {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 0.85rem;
  border: 1px solid;
  padding: 0.3rem 0.8rem;
  border-radius: 10rem;
  font-weight: 400;
  cursor: pointer;
}
.btn.btn--try {
  border-color: hsl(321deg, 100%, 78%);
  color: hsl(321deg, 100%, 78%);
}
.btn.btn--try:hover, .btn.btn--try:active, .btn.btn--try:focus {
  border-color: hsl(322deg, 100%, 66%);
  color: hsl(322deg, 100%, 66%);
}
.btn.btn--cta {
  border-color: hsl(322deg, 100%, 66%);
  color: hsl(207deg, 100%, 98%);
  padding: 0.8em 2.5em;
  letter-spacing: 0.5px;
  font-weight: 400;
  background-color: hsl(322deg, 100%, 66%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.btn.btn--cta:hover, .btn.btn--cta:active, .btn.btn--cta:focus {
  border-color: hsl(321deg, 100%, 78%);
  background-color: hsl(321deg, 100%, 78%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(0.5px);
}
.btn.btn--subscribe {
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.header {
  padding: 1.5rem 0;
}
.header .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.milestones .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.milestones__details {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 3em;
}
.milestones__icon {
  font-size: 1.5rem;
  color: hsl(322deg, 100%, 66%);
}
.milestones__num {
  font-size: 3rem;
  color: hsl(192deg, 100%, 9%);
}

.benefits__item {
  position: relative;
  margin-bottom: 8em;
  padding: 5em 2em;
}
.benefits .curve {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  left: 0;
}
.benefits .curve--top--1 {
  top: -10rem;
}
.benefits .curve--bottom--1 {
  bottom: -10rem;
}
.benefits__item--1 .curve--top--1 {
  background-image: url(../images/bg-section-top-mobile-1.svg);
}
.benefits__item--1 .curve--bottom--1 {
  background-image: url(../images/bg-section-bottom-mobile-1.svg);
}
.benefits__item--3 .curve--top--1 {
  background-image: url(../images/bg-section-top-mobile-2.svg);
}
.benefits__item--3 .curve--bottom--1 {
  background-image: url(../images/bg-section-bottom-mobile-2.svg);
}
.benefits__list {
  list-style: none;
}
.benefits .benefits--curve {
  background-color: hsl(207deg, 100%, 98%);
}
.benefits__heading {
  font-size: 1.5rem;
  margin: 1em 0;
}

.footer {
  margin-top: 4em;
  padding: 3em 0;
  position: relative;
  background-color: hsl(192deg, 100%, 9%);
  color: hsl(207deg, 100%, 98%);
}
.footer__bg {
  position: absolute;
  width: 100%;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: -5rem;
  height: 5rem;
}
.footer__company-info {
  padding: 2em 0;
}
.footer__logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 0.5em;
}
.footer__contact {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 2%;
}
.footer__contact img {
  width: 1rem;
  height: 1rem;
}
.footer__socials {
  display: flex;
  gap: 3%;
  list-style: none;
}
.footer__socials li {
  font-size: 1.25rem;
}
.footer__socials a {
  color: hsl(207deg, 100%, 98%);
}
.footer .section--title {
  margin-bottom: 0.5em;
}
.footer__newsletter {
  display: flex;
  flex-flow: column wrap;
}
.footer input[type=email] {
  margin: 2em 0;
  padding: 1.2em;
  border: none;
  border-radius: 3px;
}
.footer .btn {
  align-self: flex-end;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9a9a9a;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: hsl(192deg, 100%, 9%);
}

img {
  width: 100%;
  display: block;
}

section {
  padding: 6em 0;
  text-align: center;
}

.section--community {
  margin-bottom: 10em;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 7em;
}

/*# sourceMappingURL=styles.css.map */
